*.gitignore
*.gitattributes

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac
.DS_Store

#AMX compiled files
*.amx

#executables
*.exe

#shortcuts
*.lnk

#dlls
*.dll

#banfile
*.ban

#debug xml files
gamemode/*.xml

#textfiles
*.txt

#sublime stuff
*.sublime-project
*.sublime-workspace


#unwanted files
server.cfg
start.bat
include/Info/mysql_data.inc

#unwanted folders
plugins/
pawno/

gamemodes/Backups/
include/Backups/
